:root {
  --bg: #152347;
  --bright-bg: #1d2c4e;
  --pink: #f59bac;
  --purple: #a11ec6;
  --text-color: #f9ffee;
  --typed-text: #fee6c0;
  --yellow: #fff922;
  --hot-pink: #e84279;
}

html,
body {
  background-color: var(--bg);
  color: var(--text-color);
}
