:root {
  --bg: #222831;
  --dark-bg: #1a1d24;
  --pink: #f59bac;
  --text-color: #f9ffee;
  --typed-text: #fee6c0;
  --yellow: #efbb35;
  --hot-pink: #e84279;
}

html,
body {
  background-color: var(--bg);
  color: var(--text-color);
}
